.news{
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 400px;
  margin-bottom: 50px;
}

.heading{
  font-size: 45px;
  color: white;
}

.not_found{
  color: #f4f4f4;
  font-size: 20px;
}

.error{
  color: #FF0000;;
  font-size: 20px;
}

.loading{
  color: #f4f4f4;
  font-size: 18px;
}